body{
    background-image: linear-gradient(90deg, rgba(115, 248, 224, 1), rgba(150, 167, 241, 1));
}
h1{
   text-align: center;
   margin-top: 50px;
}
.wrap{
    background-color: white;
    width: 40%;
    margin: 5% auto;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px #000;
}
button{
    display: block;
    margin: 10px;
}
.farily img{
    animation: floot infinite ease-in-out 3s;
    position: relative;
}
@keyframes floot{
    0%{
        left: 0;
    }
    50%{
        left: 100px;
    }
    100%{
        left: 0;
    }
}
.button {
    width: 100px;
    padding: 10px;
    margin: 5px;
    background-color: #de8888;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
  }
  .button:hover {
    border: 3px solid #b66;
    background-color: #c46f6f;
    transform: scale(1.05);
  }